body{
    font-family: 'Comfortaa', cursive;
    background-image: radial-gradient( circle farthest-corner at 50.7% 54%,  
    rgba(204,254,152,1) 0%,
    rgba(229,253,190,1) 92.4% );
}

.tit-servicos{
    color: rgb(73, 76, 78);
    background-color: rgba(53, 184, 75, 0.356);
    padding: 8px;
    border-radius: 5px;
   
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient( circle farthest-corner at 50.7% 54%,  
    rgba(205, 254, 152, 0.678) 0%,
    rgba(229, 253, 190, 0.726) 92.4% );
    padding: 80px;
}

nav > a{
    text-decoration: none;
    color:darkgoldenrod;
    font-weight: 800;
    font-size: 40px;
    margin-left: 5px;
}

#logo{
    float: left;
    margin-left: 1em;
    width: 64px; 
}

 #pacote {
    background-color: rgba(19, 71, 28, 0.616);
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 5px;
    
}

#paragrafo-pacote{
    background-color: rgba(19, 71, 28, 0.767);
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 30px;
}
#link{
    text-decoration: none;
    padding: 5px;
    margin-bottom: 400px;
}
 #link:hover{
    font-size: 18px;
}
.btn:hover{
    font-size: 18px;
}
nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 100%;
}
nav ul li{
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#menu{
  
    width: 100%;
    z-index: 100;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: darkgoldenrod;  
}
nav ul li a:hover{
    color: rgb(44, 85, 3);
    font-size: 18px;
}
.item{
    background-color: rgb(243, 242, 229);
    margin-left: 1em;
    border-top-left-radius: 10px;
    box-shadow: 2px 2px 5px gray;
}
.header-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/hallstatt-3609863_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: honeydew;
    text-align: center; 
}

#servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#servicos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    color: rgb(44, 36, 36);
}

.titulo-servicos{
    color: #348F50;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bolder;
}

#viagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.card-text{
    font-size: 16px;
}
.card-header, .card-body, .card{
    background: #348F50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
 .card-header{
    border: none;
    margin-top: 1em;
}
.preco{
    margin: 0;
    position:relative;
    top: 100px;
    color:rgb(37, 11, 184);
    background-color:  rgba(243, 242, 229, 0.698);
    font-size: 18px;
    padding: 5px;
    border-radius: 8px;
}

#contato, #contato-pacotes{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.dados-contato{
    text-decoration: none;
    color:darkgoldenrod;
}

footer{
    text-align: center;
    padding: 10px;
    background-image: radial-gradient( circle farthest-corner at 50.7% 54%,  
    rgba(204,254,152,1) 0%,
    rgb(200, 216, 173) 92.4% );
    color: darkgoldenrod;
}

footer a {
    text-decoration: none;
    color: darkgoldenrod;
}

#pacotes-promocionais{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width:768px){
    nav{
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul{
        flex-direction: row;
        width: 100%,;
    }
    header {
        height: 600px;
        height: 60vh;
        justify-content: space-between;
    }
    #servicos{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }
    .titulo-servicos{
        text-align: center;
        width: 100%;   
    }
    #servicos div{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }
    #viagem{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #viagem img{
        width: 33.333333%;
    }
    #contato{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto
    }
    .dados-contato{
        width: 100%;
    }
  
}